<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>servertest</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <!-- 全局常量 -->
  <!-- 图片路径 -->
  <context-param>
  	<param-name>filePosition</param-name>
  	<param-value>E:/servertest-file</param-value>
  	<!-- <param-value>C:/files</param-value> -->
  </context-param>
  <!-- 网盘路径 -->
  <context-param>
  	<param-name>netdiskFilePosition</param-name>
  	<param-value>E:/servertest-file/netdiskfiles</param-value>
  	<!-- <param-value>C:/files/netdiskfiles</param-value> -->
  </context-param>
  <context-param>
  	<param-name>contextConfigLocation</param-name>
  	<param-value>classpath:applicationContext.xml</param-value>
  </context-param>
  <filter>
  	<filter-name>requestFilter</filter-name>
  	<filter-class>servertest.filter.RequestFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>requestFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
      <filter-name>struts</filter-name>
      <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>struts</filter-name>
  	<url-pattern>*.action</url-pattern>
  </filter-mapping>
  <listener>
  	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <!-- 上传图片 -->
  <servlet>
  	<servlet-name>uploadImgServlet</servlet-name>
  	<servlet-class>servertest.servlet.UploadImgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>uploadImgServlet</servlet-name>
  	<url-pattern>/uploadImg.file</url-pattern>
  </servlet-mapping>
  <!-- 删除图片 -->
  <servlet>
  	<servlet-name>deleteImgServlet</servlet-name>
  	<servlet-class>servertest.servlet.DeleteImgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>deleteImgServlet</servlet-name>
  	<url-pattern>/deleteImg.file</url-pattern>
  </servlet-mapping>
  <!-- 删除图片 -->
  <servlet>
  	<servlet-name>deleteFileServlet</servlet-name>
  	<servlet-class>servertest.servlet.DeleteFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>deleteFileServlet</servlet-name>
  	<url-pattern>/deleteFile.file</url-pattern>
  </servlet-mapping>
  <!-- 上传文件 -->
  <servlet>
  	<servlet-name>uploadFileServlet</servlet-name>
  	<servlet-class>servertest.servlet.UploadFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>uploadFileServlet</servlet-name>
  	<url-pattern>/uploadFile.file</url-pattern>
  </servlet-mapping>
  <!-- 下载文件 -->
  <servlet>
  	<servlet-name>downloadFileServlet</servlet-name>
  	<servlet-class>servertest.servlet.DownloadFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>downloadFileServlet</servlet-name>
  	<url-pattern>/download.file</url-pattern>
  </servlet-mapping>
</web-app>